{% include "header.md" %}

This folder provides requests aimed at simplifying the use of this dataset within AI platforms, supporting FAIR principles. Access AI-ready metadata and potentially formatted data excerpts to reduce data wrangling and accelerate integration with machine learning models, LLMs, and intelligent agents.

{% include "footer.md" %}
