{% include "header.md" %}

Reduce boilerplate code and cut down on data wrangling time using the API requests in this folder. These endpoints generate reusable, customizable code snippets designed to streamline common development and data science tasks. Accelerate your workflows by quickly implementing standard patterns for data querying, metadata API interaction, and boosting overall project productivity.

{% if platform == 'mtnards' %}

The MTNA Rich Data Services platform code snippet generators leverage open source libraries that can be found in the company's [GitHub repository](https://github.com/mtna).

{% endif %}

{% include "footer.md" %}
