## DCAT

Fetches dataset metadata conforming to the W3C Data Catalog Vocabulary (DCAT) Version 3 specification.

DCAT is an RDF vocabulary designed to enable standardized descriptions of datasets and services within data catalogs, enhancing discoverability and federation.

**Reference:**
* [Official W3C DCAT 3 Recommendation](https://www.w3.org/TR/vocab-dcat-3/)