Metadata is essential for creating machine-actionable insights that drive automation, machine learning, and efficient data governance. 
High-quality metadata reduces the burden of data wrangling, facilitating faster, more reliable insights and enabling seamless integration of datasets across platforms. 
The requests in this folder deliver structured metadata adhering to the following industry standards:

- [Croissant](https://mlcommons.org/working-groups/data/croissant/): a leading-edge specification designed to enhance machine learning and AI workflows through standardized metadata practices
- [DCAT](https://www.w3.org/TR/vocab-dcat-3/): the W3C's Data Catalog Vocabulary, widely used for data discovery and cataloging in open data ecosystems
- [DDI-C](https://ddialliance.org/Specification/DDI-Codebook/2.5/): a lightweight XML-based codebook specification from the DDI Alliance that supports efficient metadata management for social, behavioral, and economic sciences
- [DDI-CDI](https://ddialliance.org/Specification/ddi-cdi): the latest RDF-based Cross-Domain Integration specification from the DDI Alliance, enabling metadata interoperability across diverse domains   

By leveraging these standards, along with best practices, this folder supports the [FAIR principles](https://www.go-fair.org/fair-principles/) (Findable, Accessible, Interoperable, and Reusable data) and the [Cross-Domain Interoperability Framework](https://cdif.codata.org/). 
The API endpoints are hosted by the [High-Value Data Network](https://www.highvaluedata.net) to facilitate broad, cross-functional data utility.