{% include "header.md" %}

## Croissant

Fetches dataset metadata conforming to the MLCommons Croissant specification (as JSON-LD).

The Croissant standard ensures rich, interoperable metadata for machine learning datasets.

**Learn more about Croissant:**
* Overview: [https://mlcommons.org/working-groups/data/croissant/](https://mlcommons.org/working-groups/data/croissant/)
* Specification & Tools: [https://github.com/mlcommons/croissant](https://github.com/mlcommons/croissant)

{% include "footer.md" %}