## DDI-CDI CDIF

Returns metadata structured according to the DDI Cross-Domain Integration (DDI-CDI) model, using the CODATA Cross-Domain Interoperability Framework (CDIF) recommended profile.

DDI-CDI is designed to facilitate the integration and interoperability of data from diverse sources (e.g., surveys, administrative data, big data). 
CDIF provides a concrete serialization format for this model.

**References:**
* [DDI-CDI Overview (DDI Alliance)](https://ddialliance.org/ddi-cdi)
* [CODATA Cross-Domain Interoperability Framework  (CDIF) Details (CODATA)](https://cdif.codata.org/)