## Croissant

Return the dataset metadata based on the MLCommons Croissant specification. 

For more information, visit [https://mlcommons.org/working-groups/data/croissant/](https://mlcommons.org/working-groups/data/croissant/) and [https://github.com/mlcommons/croissant](https://github.com/mlcommons/croissant)