{% include "header.md" %}

Running tabulations on the specified data product returns aggregate level data about the dimensions and measures specified. A variety of querying techniques can be used to subset, compute, order, filter and format the results.

{% include "footer.md" %}