{% include "header.md" %}

Running a select query on the specified data product returns record level microdata. A variety of querying techniques can be used to subset, compute, order, filter and format the results.

{% include "footer.md" %}
